<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78252166829-4l0rm9j67g9ijrqs6f03j8bkktdth9mh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78252166829-4l0rm9j67g9ijrqs6f03j8bkktdth9mh</string>
	<key>API_KEY</key>
	<string>AIzaSyAgDWuAqMYe-mD6w7ilDLrM--Wm9pqERfA</string>
	<key>GCM_SENDER_ID</key>
	<string>78252166829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pw.tahababarapps.Missiyages</string>
	<key>PROJECT_ID</key>
	<string>missiyages</string>
	<key>STORAGE_BUCKET</key>
	<string>missiyages.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:78252166829:ios:94edb196f30ed94b558024</string>
	<key>DATABASE_URL</key>
	<string>https://missiyages.firebaseio.com</string>
</dict>
</plist>
